body {
    color:white;
    background-color:black;
}

.wrapper {
    padding-left:10px;
    padding-right:10px;
    width:100%;
}

.assign {
    background-image: url('/images/bb1.jpg'); 
    border-radius: 25px;
    padding: 20px;
    height: 150px;
    border-color:black;
    border-width:2px;
}

.proj {
    background-image: url('/images/bb2.jpg'); 
    border-radius: 25px;
    padding: 20px;
    height: 150px;
    border-color:black;
    border-width:2px;
}

.about {
    background-image: url('/images/bb3.jpg'); 
    border-radius: 25px;
    padding: 20px;
    height: 150px;
    border-color:black;
    border-width:2px;
}

.as {
    transition: transform .2s;
}

.as:hover {
    transform:scale(1.5);
}

.pr {
    transition: transform .2s;
}

.pr:hover {
    transform:scale(1.5);
}

.ab {
    transition: transform .2s;
}

.ab:hover {
    transform:scale(1.5);
}

.cl {
    border-color:white;
    border-style:solid;
    border-radius: 25px;
    padding-top: 15px;
}

.p {
    transition: transform .2s;
}

.p:hover {
    transform:scale(1.5);
}

.a {
    transition: transform .2s;
}

.a:hover {
    transform:scale(1.5);
}

.project-1 {
    background-image: url('/images/bb1.jpg'); 
    border-radius: 25px;
    padding: 20px;
}

.project-2 {
    background-image: url('/images/prj/percentage-calc.jpg');
    border-radius: 25px;
    padding: 20px;
}

.assignment-1 {
    background-image: url('/assignments/2022-2023/Health-4-D/assignment-1.png'); 
    border-radius: 25px;
    padding: 20px;
}

.assignment-2 {
    background-image: url('/assignments/2022-2023/Health-Sleep-Poster/poster.png'); 
    border-radius: 25px;
    padding: 20px;
}

.assignment-3 {
    background-image: url('/assignments/2022-2023/Health-body-systems/thumbn.jpg'); 
    border-radius: 25px;
    padding: 20px;
}
